name: Inspect Model

on:
  workflow_dispatch:
    inputs:
      model_id:
        description: Model ID
        required: false
        type: string
  schedule:
    - cron: '0 0 */3 * *' 

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  inspect-model:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v3.5.3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.10.10"

      - name: Install dependencies
        run: |
          conda install git-lfs -c conda-forge
          git-lfs install
          conda install gh -c conda-forge

      - name: Cloning ersilia
        run: |
            source activate
            git clone https://github.com/ersilia-os/ersilia.git
      
      - name: Install ersilia
        run: |
          cd ersilia
          python -m pip install -e .
          pip install .[test]

      - name: Run Inspection Script
        env:
          MODEL_ID: ${{ github.event.inputs.model_id }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          REPO_OWNER: "ersilia-os"
          REPO_NAME: "ersilia-maintenance"
        run: |
          chmod +x .github/scripts/inspect.sh
          .github/scripts/inspect.sh
